@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/layout',
'../layout/footer';
@import '../components/mint',
'../components/form';
.notice-wrapper {
    h3 {
        margin: pxTorem(50px) auto;
        font-weight: 700;
        @extend .tc;
    }
    p {
        padding: pxTorem(10px) pxTorem(40px);
        @include property-dpr(font-size, 16px);
        line-height: 1.8;
        letter-spacing: pxTorem(2px);
        color: $color-333;
    }
    li {
        @include property-dpr(font-size, 16px);
        @extend %display-flex;
        padding: pxTorem(20px) pxTorem(40px) pxTorem(20px) pxTorem(40px);
        span {
            display: block;
            width: pxTorem(38px);
            height: pxTorem(38px);
            border: solid 1px $color-green;
            border-radius: 100%;
            margin-right: pxTorem(20px);
           
        }
        span.current {
             &:before {
                content: ' ';
                display: inline-block;
                margin: pxTorem(7px);
                width: pxTorem(24px);
                height: pxTorem(24px);
                background: $color-green;
                border-radius: 100%;
            }
        }
    }
}

.apply-baseInfo {
    padding: 0 pxTorem(40px) pxTorem(110px) pxTorem(40px);
    h3 {
        padding: pxTorem(50px) 0;
        font-weight: 700;
        em {
            color: $color-green;
            @include property-dpr(font-size, 16px);
            font-weight: 400;
        }
    }
    .form-cell {
        @extend %display-box;
        @include property-dpr(font-size, 16px);
        position: relative;
        .form-cell-title {
            width: pxTorem(165px);
            line-height: pxTorem(110px);
            display: inline-block;
        }
        .form-cell-value {
            @extend %box-flex;
        }
        input {
            padding: pxTorem(35px) 0;
            border: none;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: -50%;
            width: 200%;
            bottom: 0;
            height: 1px;
            background: #ededed;
            -webkit-transform: scale(0.5);
        }
    }
    .form-cell-picker {
        justify-content: space-between;
        .form-picker-value {
            span {
                margin-right: pxTorem(35px);
            }
            @extend %box-flex;
            line-height: pxTorem(110px);
            position: relative;
            text-align: right;
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: pxTorem(13px);
                height: pxTorem(110px);
                background: url(/static/image/icon-arrow-right.png) no-repeat center center;
                background-size: pxTorem(13px) auto;
            }
        }
    }
    .note{
        color: $color-grey;
        @include property-dpr(font-size, 14px);
        margin-top: pxTorem(20px);
    }
}

.evaluate-wrapper {
    margin: pxTorem(40px);
    .mint-radiolist-title,
    .mint-checklist-title {
        @include property-dpr(font-size, 18px);
        font-weight: 700;
        color: $color-333;
    }
    .mint-radio-label,
    .mint-checkbox-label {
        @include property-dpr(font-size, 16px);
        margin-left: 8px;
        line-height: 1.6;
    }
    .mint-cell-wrapper {
        background-image: none;
    }
    .mint-cell:last-child {
        background-image: none;
    }
    .mint-checkbox,
    .mint-radio {
        @extend .fl;
        @extend .block;
        line-height: 1.3;
    }
    p {
        @extend .tl;
        @include property-dpr(font-size, 16px);
    }
}

.qrcode {
    width: pxTorem(200px);
    display: block;
    margin: 0 auto pxTorem(50px) auto;
}

.mint-checkbox-core {
    box-sizing: border-box;
    &:after {
        content: " ";
        border: none!important;
        background-color: $color-green;
        border-radius: 100%;
        top: 4px!important;
        left: 4px!important;
        position: absolute;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        -webkit-transform: scale(0);
        transform: scale(0);
        width: 10px;
        height: 10px;
    }
}

.mint-msgbox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 65%;
    /*  height:pxTorem(460px); */
    overflow: hidden;
    border-radius: 3px;
    font-size: 16px;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
    @include border-radius(5px, 5px, 5px, 5px);
    .mint-msgbox-message {
        img {
            width: 100px;
            display: block;
            margin: 0 auto;
        }
        h3 {
            font-weight: 900;
            @include property-dpr(font-size, 16px);
        }
        p {
            text-align: center
        }
    }
}

.wrapper-swiper {
    .top {
        width: 100%;
        height: pxTorem(800px);
    }
    img {
        width: 100%;
        height: pxTorem(800px);
    }
    p {
        @include property-dpr(font-size, 18px);
        text-align: center;
        margin-top: pxTorem(60px);
        margin-bottom: pxTorem(60px);
    }
    .footer {
        height: pxTorem(110px);
        font-size: 0;
        text-align: center;
        background: $color-green;
        z-index: 1000;
        @include border-radius(pxTorem(8px), pxTorem(8px), pxTorem(8px), pxTorem(8px));
        .btn {
            width: calc(100%/2);
            display: inline-block;
            color: $color-white;
            @extend %box-sizing;
            @include property-dpr(font-size, 18px);
            line-height: pxTorem(110px);
            border-right: solid 1px #fff;
            &:last-child {
                border-right: none;
            }
            a {
                color: $color-white;
                height: 100%;
                width: 100%;
            }
        }
    }
}