@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/header',
'../layout/layout',
'../layout/footer';
@import '../components/search',
'../components/mint',
'../components/listImg',
'../components/city';
.depart {
    .item {
        padding: pxTorem(40px) 0;
        margin: 0 pxTorem(40px);
        border-bottom: solid 1px $border-color;
        background: $color-white;
        &:last-child {
            border-bottom: none;
        }
    }
    .item-wrapper {
        @extend %display-flex;
        position: relative;
        flex-flow: row;
        overflow: hidden;
        .info {
            flex: 1;
            overflow: hidden;
            h4 {
                font-weight: 700;
                width: 100%;
                @extend %display-flex;
                flex-flow: row;
                .name {
                    flex: 1;
                    width: 80%;
                    display: inline-block;
                }
            }
            .subsidy {
                display: inline-block;
                line-height: pxTorem(36px);
                @extend .tc;
                color: $color-white;
                border-radius: 3px;
                width: pxTorem(60px);
                background: $color-green;
                @include property-dpr(font-size, 10px);
            }
            .subsidy1 {
                &:after {
                    content: '补助';
                    display: inline-block;
                    line-height: pxTorem(30px);
                    @extend .tc;
                    margin-left: pxTorem(6px);
                    color: $color-white;
                    border-radius: 3px;
                    width: pxTorem(60px);
                    background: $color-green;
                    @include property-dpr(font-size, 10px);
                }
            }
            .icon-sign {
                line-height: pxTorem(36px);
                @extend .tc;
                color: $color-white;
                border-radius: 3px;
                width: pxTorem(60px);
                background: $color-green;
                position: absolute;
                top: pxTorem(6px);
                right: 0;
                @include property-dpr(font-size, 10px);
            }
        }
        .icon-location {
            margin-top: pxTorem(6px);
            @include property-dpr(font-size, 12px);
            line-height: pxTorem(30px);
            &:before {
                display: inline-block;
                content: '\200B';
                width: pxTorem(30px);
                height: pxTorem(30px);
                background: url(/static/image/icon_location.png) no-repeat left center;
                background-size: pxTorem(16px) auto;
            }
        }
        .icon-comment {
            @include property-dpr(font-size, 12px);
            em {
                margin-right: pxTorem(10px);
            }
            line-height:pxTorem(30px);
            &:before {
                display: inline-block;
                content: '\200B';
                width: pxTorem(30px);
                height: pxTorem(30px);
                background: url(/static/image/icon_comment.png) no-repeat left center;
                background-size: pxTorem(21px) auto;
            }
        }
        .item-img2 {
            position: relative;
            top: 0;
            right: 0;
        }
        .sign {
            @extend %display-flex;
            margin-top: pxTorem(15px);
            @extend .tc;
            @include property-dpr(font-size, 14px);
        }
        .isassist {
            display: block;
            margin-right: pxTorem(20px);
            border: 1px solid $color-green;
            color: $color-green;
            width: pxTorem(150px);
            height: pxTorem(50px);
            line-height: pxTorem(50px);
            @include border-radius(pxTorem(8px), pxTorem(8px), pxTorem(8px), pxTorem(8px));
        }
        .isapprove {
            display: block;
            border: 1px solid $color-green;
            color: $color-green;
            width: pxTorem(150px);
            height: pxTorem(50px);
            line-height: pxTorem(50px);
            @include border-radius(pxTorem(8px), pxTorem(8px), pxTorem(8px), pxTorem(8px));
        }
        .item-img {
            width: pxTorem(110px);
            height: pxTorem(110px);
            @extend .tc;
            border: solid 1px $border-color;
            margin-right: pxTorem(20px);
            border-radius: 6px;
            position: relative;
            img {
                max-width: pxTorem(110px);
                max-height: pxTorem(110px);
                border-radius: 6px;
            }
            span {
                width: pxTorem(50px);
                height: pxTorem(50px);
                background: url(/static/image/icon-sign-renzheng.png) no-repeat left center;
                background-size: pxTorem(50px) auto;
                display: block;
                position: absolute;
                top: 0;
                right: -2px;
            }
        }
    }
}

.depart-tab-wrapper {
    //top: pxTorem(520px);
    //bottom: pxTorem(98px);
    //position: absolute;
    //left: 0;
    //right: 0;
    //
    //@extend %box-sizing;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22222;
    padding-bottom: pxTorem(40px);
    background-color: $color-white;
    width: 100%;
    height: 100%;
    >ul {
        background-color: $color-white;
        width: 100%;
        overflow: hidden;
        padding-bottom: pxTorem(88px);
        overflow-y: scroll;
    }
}

.introduct-wrapper {
    padding: pxTorem(20px) pxTorem(0px) pxTorem(0px) pxTorem(0px);
    h3 {
        color: $color-62;
        line-height: pxTorem(62px);
        font-weight: 600;
        padding-top: pxTorem(40px);
        border-top: solid 1px $border-color;
        &:first-child {
            border-top: none;
        }
    }
    .more {
        color: $color-green;
    }
    p {
        margin-top: pxTorem(30px);
        margin-bottom: pxTorem(60px);
        @include property-dpr(font-size, 16px);
        line-height: pxTorem(48px);
        /* display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden; */
    }
    .list-img {
        margin-top: pxTorem(30px);
        margin-bottom: pxTorem(60px);
    }
    .specil {
        color: $color-62;
        line-height: pxTorem(62px);
        font-weight: 600;
        margin-top: pxTorem(80px);
    }
}

.teacher-wrapper {
    .item-wrapper {
        @extend %display-box;
        margin: pxTorem(10px) 0;
        background: $color-white;
        padding: pxTorem(15px) pxTorem(20px);
        box-sizing: border-box;
        text-decoration: none;
        .right {
            @extend %box-flex;
            margin-left: pxTorem(20px);
            em {
                color: $color-62;
                display: inline-block;
            }
            p {
                @extend %box-flex;
                margin-top: pxTorem(10px);
                @include property-dpr(font-size, 14px);
                word-wrap: break-word;
            }
        }
        .img-wrapper {
            width: pxTorem(150px);
            height: pxTorem(150px);
            background: $color-de;
            @extend .tc;
            display: table-cell;
            vertical-align: middle;
            @include border-radius(3px, 3px, 3px, 3px);
            img {
                max-width: pxTorem(150px);
                max-height: pxTorem(150px);
                @include border-radius(3px, 3px, 3px, 3px);
            }
        }
    }
}

.product-wrapper {
    padding: pxTorem(0px) pxTorem(40px) 0 pxTorem(40px);
    .item-wrapper {
        @extend %display-box;
        background: $color-white;
        padding: pxTorem(15px) 0;
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid $border-color;
        .right {
            @extend %box-flex;
            padding: 0 0 pxTorem(20px) 0;
            h4 {
                font-weight: 600;
                margin-top: pxTorem(20px);
            }
            h5 {
                margin-top: pxTorem(12px);
                em {
                    @include property-dpr(font-size, 14px);
                    font-weight: 400;
                }
            }
            .disprice {
                margin-top: pxTorem(40px);
                @include property-dpr(font-size, 20px);
                color: $color-green;
            }
            .price {
                color: $color-3c;
                text-decoration: line-through;
                @include property-dpr(font-size, 12px);
                margin-left: pxTorem(20px);
            }
        }
        .img-wrapper {
            width: pxTorem(200px);
            height: pxTorem(154px);
            background: url(/static/image/img-default.png) no-repeat;
            background-size: cover;
            @extend .tc;
            display: table-cell;
            vertical-align: middle;
            img {
                max-width: pxTorem(200px);
                max-height: pxTorem(154px);
            }
        }
        .btn {
            width: pxTorem(160px);
            height: pxTorem(60px);
            line-height: pxTorem(40px);
            background: $color-green;
            padding: pxTorem(10px) pxTorem(15px);
            color: $color-white;
            position: absolute;
            right: 0;
            top: pxTorem(150px);
            @include property-dpr(font-size, 14px);
            @extend .tc;
            @include border-radius(3px, 3px, 3px, 3px);
        }
    }
}

.submit-comment-wrapper {
    @extend %display-box;
    position: fixed;
    height: pxTorem(120px);
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    box-shadow: 0px 0px 1px #999;
    z-index: 33333;
    input {
        height: pxTorem(90px);
        margin: pxTorem(12px) pxTorem(20px);
        display: block;
        @extend %box-flex;
        padding: pxTorem(16px);
        @include property-dpr(font-size, 16px);
        border: solid 1px $color-white;
    }
    .btns {
        border: none;
        background: url(/static/image/send.png) no-repeat center 20%;
        background-size: pxTorem(50px) auto;
        color: $color-white;
        width: pxTorem(120px);
        height: pxTorem(70px);
        margin-top: pxTorem(32px);
    }
}


/* 机构详情 */

.depart-detail {
    .depart-info {
        width: 100%;
        min-height: 180px;
        max-height: 280px;
        background: url(/static/image/depart_bg.png) no-repeat center center;
        background-size: cover;
        position: relative;
        .mapitem {
            width:pxTorem(190px);
            height:pxTorem(70px);
            background: $color-green;
            border-radius: pxTorem(70px);
            position: absolute;
            right: 20px;
            top:30px;
            line-height:pxTorem(70px);
            text-indent:pxTorem(55px);
            @include property-dpr(font-size, 12px);
            color: #FFFFFF;
            .mapicon{
                display: block;
                position: absolute;
                width: pxTorem(30px);
                height: pxTorem(30px);
                background: url(/static/image/map-icon.png) no-repeat center center;
                background-size: pxTorem(30px) auto;
                position: absolute;
                right: pxTorem(140px);
                top: pxTorem(20px);
            }
        }
        .item-img {
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            border-radius:60px;
            position: absolute;
            left: 20px;
            top:15px;
            overflow: hidden;
            img {
                width: auto;
                height: auto;
                max-width: 60px;
                max-height: 60px;
//              border-radius:60px;
                vertical-align: middle;                
            }
        }
        .nameitem {
            color: #FFF;
            padding: 0 pxTorem(40px);
            width: 100%;
            @extend %box-sizing;
            position: absolute;
            left: 0;
            top:80px;
            .departName {
                display: block;
                width: 100%;
                @include property-dpr(font-size, 18px);
            }
            .departtel {
                @include property-dpr(font-size, 12px);
            }
            .departaddress {
                @include property-dpr(font-size, 12px);
            }            
            .isapprove {
                display: inline-block;  
                width: pxTorem(70px);
                height: pxTorem(36px);
                background: #37c0Fd;
                @include border-radius(pxTorem(8px), pxTorem(8px), pxTorem(8px), pxTorem(8px));
                color: $color-white; 
                line-height: pxTorem(36px);
                text-align: center;
                margin-top:pxTorem(10px);    
            }
            .isassist {                
                margin-right: pxTorem(20px);
                background: #feb243;          
            }
        }
    }
    h3 {
        font-weight: 600;
        height: pxTorem(60px);
        line-height: pxTorem(60px);
        position: relative;
        // margin: pxTorem(40px) 0 0 0;
        text-indent: pxTorem(10px);
        padding-top: pxTorem(50px);
        padding-left: pxTorem(20px);
        //  border-left:solid 3px $color-green;
        &:before {
            display: block;
            position: absolute;
            left: 0;
            top: pxTorem(60px);
            content: ' ';
            width: pxTorem(12px);
            height: pxTorem(38px);
            background: $color-grey2;
            border-radius: pxTorem(6px);
        }
        .moreitem {
            position: absolute;
            right: pxTorem(30px);
            top: pxTorem(50px);
            display: block;
            width: pxTorem(70px);
            height: pxTorem(60px);
            @include property-dpr(font-size, 12px);
            line-height: pxTorem(60px);
            color: #a9a9a9;
            &:before {
                content: '\200B';
                width: pxTorem(30px);
                height: 100%;
                background: url(/static/image/icon_more.png) no-repeat center center;
                background-size: pxTorem(15px) auto;
                position: absolute;
                right: pxTorem(-30px);
            }
        }
        a {
            display: block;
        }
    }
    p {
        line-height: 1.6;
    }
    .more {
        display: block;
        color: $color-green;
        @include property-dpr(font-size, 18px);
        font-weight: 400;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        line-height: pxTorem(130px);
        margin: pxTorem(40px) 0;
        text-align: center;
        font-weight: 600;
    }
    .tab {
//      margin-top: pxTorem(45px);
        ul {
            @extend %display-flex;
            @extend .tc;
            border-bottom: solid 1px $border-color;
            li {
                flex: 1;
                line-height: pxTorem(90px);
                @include property-dpr(font-size, 16px);
            }
            .active {
                border-bottom: solid 1px $color-green;
            }
        }
    }
    .otherinfo {
        p {
            @include property-dpr(font-size, 16px);
            padding: pxTorem(20px) 0 pxTorem(20px) 0;
        }
        .icon-item {
            //          border-bottom: 1px solid $border-color;
            padding-top: pxTorem(40px);
            padding-bottom: pxTorem(20px);
            @include property-dpr(font-size, 14px);
        }
        .icon-more {
            display: block;
            position: absolute;
            right: 7px;
            top: -36px;
            &:before {
                display: inline-block;
                content: '\200B';
                width: pxTorem(30px);
                height: pxTorem(44px);
                background: url(/static/image/icon_more.png) no-repeat center 20%;
                background-size: pxTorem(16px) auto;
                @include property-dpr(font-size, 14px);
                margin-right: pxTorem(10px);
            }
        }
    }
}

.depart-detail-wrapper {
    padding: pxTorem(0px) pxTorem(40px) pxTorem(200px) pxTorem(40px);
    .listProduct {
        padding: 0;
    }
    .teacher {
        padding: 0
    }
    .subject-wrapper {
        padding: 0;
        .item {
            margin: 0;
        }
    }
    .comment {
        @include property-dpr(font-size, 16px);
        .item-wrapper-comment {
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        .add_mess {
            display: block;
            width: pxTorem(180px);
            line-height: pxTorem(90px);
            color: #fff;
            background: #027d5e;
            margin: pxTorem(50px) auto;
            text-align: center;
            border-radius: pxTorem(6px);
        }
    }
}

.item-wrapper-comment {
    padding: pxTorem(40px) 0 pxTorem(40px) 0;
    background: $color-white;
    box-sizing: border-box;
    border-bottom: solid 1px $border-color;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    .top-wrapper {
        @extend %display-box;
        .img-wrapper {
            width: pxTorem(80px);
            height: pxTorem(80px);
            @extend .tc;
            display: table-cell;
            vertical-align: middle;
            @include border-radius(50px, 50px, 50px, 50px);
            img {
                max-width: pxTorem(80px);
                max-height: pxTorem(80px);
                @include border-radius(50px, 50px, 50px, 50px);
            }
        }
        .right {
            @extend %box-flex;
            margin-left: pxTorem(20px);
        }
    }
    p {
        margin-top: pxTorem(30px);
        @include property-dpr(font-size, 16px);
        word-wrap: break-word;
    }
}


/* 产品 */

.listProduct {
    padding: 0 pxTorem(40px) pxTorem(50px) pxTorem(40px);
    @include property-dpr(font-size, 16px);
    .item-wrapperproduct {
        //height: pxTorem(210px);
        padding: pxTorem(30px) 0;
        background: $color-white;
        box-sizing: border-box;
        border-bottom: solid 1px $border-color;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        h4 {
            font-weight: 600;
        }
        .info {
            @extend %display-flex;
            justify-content: space-between;
            h6 {
                color: #b3b3b3;
                @include property-dpr(font-size, 14px);
                line-height: pxTorem(50px);
            }
            .disprice {
                color: $color-green;
                @include property-dpr(font-size, 20px);
                font-weight: 600;
            }
            .price {
                color: $color-3c;
                text-decoration: line-through;
                @include property-dpr(font-size, 14px);
            }
        }
    }
}

.teacher {
    padding: 0 pxTorem(40px) pxTorem(20px) pxTorem(40px);
    @include property-dpr(font-size, 14px);
    .all {
        margin-top: pxTorem(30px);
    }
    ul {
        .item-wrapper-teacher {
            padding: pxTorem(30px) 0;
            background: $color-white;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
            .top-wrapper {
                @extend %display-box;
                .img-wrapper {
                    width: pxTorem(80px);
                    height: pxTorem(80px);
                    background: $color-white;
                    @extend .tc;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .right {
                    @extend %box-flex;
                    line-height: pxTorem(80px);
                    margin-left: pxTorem(20px);
                    .username {
                        max-width: 50%;
                        @include property-dpr(font-size, 16px);
                        display: inline-block;
                        float: left;
                    }
                    .post {
                        max-width: 40%;
                        margin-top: pxTorem(20px);
                        margin-left: pxTorem(10px);
                        height: pxTorem(30px);
                        line-height: pxTorem(30px);
                        color: $color-white;
                        background: $color-green;
                        @extend .tc;
                        @include property-dpr(font-size, 12px);
                        @include border-radius(3px, 3px, 3px, 3px);
                        padding: pxTorem(5px) pxTorem(12px);
                        display: inline-block;
                        float: left;
                    }
                }
            }
            p {
                margin-top: pxTorem(20px);
                word-wrap: break-word;
                @include property-dpr(font-size, 16px);
            }
        }
    }
}

.comment-wrapper {
    padding: 0 pxTorem(40px);
    @include property-dpr(font-size, 16px);
    h6 {
        @include property-dpr(font-size, 16px);
    }
}

.product-detail-wrapper {
    padding: 0 pxTorem(40px) pxTorem(220px) pxTorem(40px);
    .other-productinfo {
        h4 {
            line-height: pxTorem(100px);
            font-weight: 600;
        }
        hr {
            margin-top: pxTorem(40px);
        }
        p {
            @include property-dpr(font-size, 16px);
            margin-bottom: pxTorem(40px);
        }
        .st1 {
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
        }
        .st2 {
            border-bottom: 1px solid $border-color;
            padding-bottom: pxTorem(30px);
        }
        h5 {
            @include property-dpr(font-size, 16px);
        }
        .icon-applicablescope {
            display: block;
            &:before {
                display: inline-block;
                content: '\200B';
                width: pxTorem(30px);
                height: pxTorem(44px);
                background: url(/static/image/icon_age.png) no-repeat center 20%;
                background-size: pxTorem(28px) auto;
                @include property-dpr(font-size, 14px);
                margin-right: pxTorem(10px);
            }
        }
        .icon-expdate {
            display: block;
            &:before {
                display: inline-block;
                content: '\200B';
                width: pxTorem(30px);
                height: pxTorem(44px);
                background: url(/static/image/icon_deadline.png) no-repeat center 20%;
                background-size: pxTorem(28px) auto;
                @include property-dpr(font-size, 14px);
                margin-right: pxTorem(10px);
                margin-top: pxTorem(15px);
            }
        }
    }
    .product-server-tab {
        width: 100%;
        height: pxTorem(90px);
        line-height: pxTorem(65px);
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        li {
            @extend .tc;
            padding: pxTorem(2px) pxTorem(40px);
            text-align: center;
            margin-right: pxTorem(20px);
            @include property-dpr(font-size, 16px);
            border: solid 1px $color-green;
            display: inline-block;
            color: $color-green;
            @include border-radius(6px, 6px, 6px, 6px);
        }
        .active {
            background: $color-green;
            color: $color-white;
        }
    }
}

.other-infothree {
    background: $color-white;
    padding: pxTorem(120px) pxTorem(40px) pxTorem(0px) pxTorem(40px);
    h4 {
        padding-top: pxTorem(40px);
        font-weight: 600;
    }
    span {
        display: block;
        @include property-dpr(font-size, 16px);
        margin-top: pxTorem(30px);
        margin-bottom: pxTorem(20px);
    }
    hr {
        margin-top: pxTorem(40px);
    }
    .shi {
        font-weight: 400;
    }
    .fou {
        font-weight: 400;
    }
    ul {
        margin-top: pxTorem(40px);
        display: flex;
        flex-wrap: wrap;
        li {
            height: pxTorem(100px);
            background: $color-de;
            font-size: 0;
            width: pxTorem(100px);
            margin-bottom: calc(5px*3 /2);
            margin-right: calc(5px*3 /2);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            @include border-radius(8px, 8px, 8px, 8px);
            img {
                width: pxTorem(100px);
                height: pxTorem(100px);
                @include border-radius(8px, 8px, 8px, 8px);
            }
        }
    }
    .foot {
        margin-bottom: pxTorem(40px);
        h5 {
            margin-top: pxTorem(12px);
        }
        .disprice {
            padding-top: pxTorem(60px);
            @include property-dpr(font-size, 20px);
        }
        .price {
            color: $color-3c;
            text-decoration: line-through;
            margin-left: pxTorem(20px);
            @include property-dpr(font-size, 14px);
        }
        .stock {
            display: block;
            width: pxTorem(150px);
            height: pxTorem(50px);
            line-height: pxTorem(50px);
            border: 1px solid $color-green;
            @include property-dpr(font-size, 12px);
            @extend .tc;
            color: $color-green;
            margin-top: pxTorem(20px);
            margin-left: pxTorem(10px);
        }
        .btn {
            display: block;
            background: $color-green;
            width: pxTorem(360px);
            height: pxTorem(110px);
            line-height: pxTorem(108px);
            margin-top: pxTorem(-110px);
            @extend .tc;
            color: $color-white;
            @include property-dpr(font-size, 16px);
            @include border-radius(8px, 8px, 8px, 8px);
        }
    }
}

.product-type-wrapper {
    padding: pxTorem(40px) pxTorem(40px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    li {
        @extend .tc;
        padding: pxTorem(15px) pxTorem(40px);
        text-align: center;
        @include property-dpr(font-size, 16px);
        margin-right: pxTorem(20px);
        display: inline-block;
        border: solid 1px $color-green;
        color: $color-green;
        @include border-radius(pxTorem(6px), pxTorem(6px), pxTorem(6px), pxTorem(6px));
    }
    .active {
        background: $color-green;
        color: $color-white;
    }
}

.product-detail-footer {
    @extend %display-flex;
    border-top: solid 1px $border-color;
    padding: pxTorem(30px) pxTorem(40px);
    justify-content: space-between;
    background: $color-white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .info {
        margin-top: pxTorem(5px);
        h2 {
            font-weight: 600;
            color: $color-red;
            span {
                color: #999;
                text-decoration: line-through;
                font-weight: normal;
                @include property-dpr(font-size, 12px);
            }
            em {
                @include property-dpr(font-size, 12px);
            }
        }
        .sell {
            @include property-dpr(font-size, 14px);
            color: #999;
            padding: 0 pxTorem(5px);
            line-height: pxTorem(40px);
            margin-top: pxTorem(5px);
        }
    }
    .btn {
        background: $color-green;
        color: $color-white;
        height: pxTorem(110px);
        line-height: pxTorem(110px);
        padding: 0 pxTorem(30px);
        @include property-dpr(font-size, 16px);
        @include border-radius(pxTorem(15px), pxTorem(15px), pxTorem(15px), pxTorem(15px));
        span {
            @include property-dpr(font-size, 12px);
        }
    }
}

.product-detail-type {
    @extend %display-flex;
    justify-content: space-between;
    background: $color-white;
    @extend .tc;
    height: pxTorem(110px);
    margin: pxTorem(20px) pxTorem(40px) pxTorem(20px) pxTorem(40px);
    li {
        line-height: pxTorem(110px);
        flex: 1;
        @include property-dpr(font-size, 16px);
        border: solid 1px #e2e2e2;
        &:first-child {
            @include border-radius(pxTorem(15px), 0, 0, pxTorem(15px));
        }
        &:last-child {
            @include border-radius(0, pxTorem(15px), pxTorem(15px), 0);
        }
    }
    .active {
        background: $color-green;
        color: $color-white;
        border: solid 1px $color-green;
    }
}

.footer {
    .btn-consult {
        width: pxTorem(130px);
        display: block;
        height: pxTorem(110px);
        @include property-dpr(font-size, 16px);
        background: url(/static/image/nav_icon_talk.png) no-repeat center center;
        background-size: pxTorem(45px) auto;
        @include text-indent(-9999px);
        border-top: solid 1px #e5e5e5;
    }
}

.subject-wrapper {
//  padding: 0 pxTorem(40px);
    >h4,
    >h1 {
        font-weight: 700;
    }
    >h5 {
        color: #999;
    }
    .title {
        display: block;
        height: pxTorem(60px);
        line-height: pxTorem(60px);
        margin-top: pxTorem(40px);
        text-align: center;
        border-bottom: solid 1px $border-color;
        @include property-dpr(font-size, 18px);
    }
    .more {
        color: $color-green;
    }
    .all {
        padding-top: pxTorem(30px);
    }
    .item {
        position: relative;
        padding: pxTorem(46px) 0;
        border-bottom: solid 1px $border-color;
        h4 {
            font-weight: 700;
        }
        h5 {
            color: #999;
            margin-top: pxTorem(4px);
        }
        .title {
            @include property-dpr(font-size, 16px);
            font-weight: 700;
        }
        &:last-child {
            border-bottom: none;
        }
        .user-wrapper {
            margin-top: pxTorem(30px);
            .user {
                display: inline-block;
                width: pxTorem(65px);
                margin-right: pxTorem(20px);
                @extend .tc;
                .photo {
                    width: pxTorem(65px);
                    height: pxTorem(65px);
                    border-radius: 50%;
                }
                >p {
                    color: #999;
                    margin-top: pxTorem(10px);
                    @include property-dpr(font-size, 10px);
                }
            }
        }
        .note {
            position: absolute;
            bottom: pxTorem(50px);
            right: 0;
            p {
                @extend .tr;
            }
            .price {
                color: $color-red;
                @include property-dpr(font-size, 18px);
                font-weight: bold;
                span {
                    @include property-dpr(font-size, 12px);
                    margin-right: pxTorem(2px);
                }
            }
            .num {
                color: #999;
                @include property-dpr(font-size, 14px);
            }
        }
    }
    .tab {
//      margin-top: pxTorem(45px);
        ul {
            @extend %display-flex;
            @extend .tc;
            border-bottom: solid 1px $border-color;
            li {
                flex: 1;
                line-height: pxTorem(90px);
                @include property-dpr(font-size, 16px);
            }
            .active {
                border-bottom: solid 1px $color-green;
            }
        }
    }
}
.subject-detail-wrapper {
    // padding: 0 pxTorem(40px);
    .info-wrapper {
        h4 {
            margin-bottom: pxTorem(10px);
            margin-top: pxTorem(50px);
            font-weight: 700;
        }
        >p {
            @include property-dpr(font-size, 16px);
            border-bottom: solid 1px #f2f2f2;
            padding-bottom: pxTorem(40px);
        }
        .user-all-wrapper {
            margin-top: pxTorem(20px);
            li {
                padding: pxTorem(35px) 0;
                border-bottom: solid 1px $border-color;
                &:last-child {
                    border-bottom: none;
                }
                .user {
                    @extend %display-flex;
                    .photo {
                        display: block;
                        width: pxTorem(80px);
                        height: pxTorem(80px);
                        border-radius: 50%;
                    }
                    p {
                        @extend %display-flex;
                        margin-left: pxTorem(20px);
                        @include property-dpr(font-size, 16px);
                        line-height: pxTorem(80px);
                        align-items: center;
                        .name {
                            max-width: pxTorem(180px);
                        }
                        .post {
                            max-width: pxTorem(180px);
                            margin: 0 0 0 pxTorem(20px);
                            height: pxTorem(32px);
                            line-height: pxTorem(32px);
                            color: $color-green;
                            @include property-dpr(font-size, 10px);
                            border: solid 1px $color-green;
                            @include border-radius(4px, 4px, 4px, 4px);
                            padding: 0 pxTorem(10px);
                        }
                    }
                }
                >p {
                    margin-top: pxTorem(20px);
                    @include property-dpr(font-size, 16px);
                }
            }
        }
        .content{
            @include property-dpr(font-size,14px);
            line-height: pxTorem(48px);
            word-break: break-all;
            word-wrap: break-word;
            .piccont{
                margin:  pxTorem(10px) 0;
                img{
                    width: auto;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
    .catalog-wrapper {
        .title {
            margin-bottom: pxTorem(10px);
            margin-top: pxTorem(50px);
            font-weight: 700;
        }
        .num {
            border-bottom: solid 1px $border-color;
            padding-bottom: pxTorem(40px);
        }
        li {
            border-bottom: solid 1px $border-color;
            padding: pxTorem(30px) 0;
            position: relative;
            &:after {
                content: '';
                width: pxTorem(50px);
                height: 100%;
                //              background: url(../../static/image/icon-toggle-up-1.png) no-repeat center pxTorem(40px);
                background-size: pxTorem(35px) auto;
                position: absolute;
                right: 0;
                top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        h4 {
            @extend %display-flex;
        }
        .text {
            color: $font-color;
            font-weight: normal;
        }
        .media {
            &:before {
                content: ' ';
                width: pxTorem(50px);
                height: pxTorem(28px);
                background: url(/static/image/list_icon_video.png) no-repeat left bottom;
                background-size: auto pxTorem(28px);
                display: inline-block;
                margin-top:pxTorem(8px);
            }
        }
        .init {
            &:before {
                content: ' ';
                width: pxTorem(50px);
                height: pxTorem(28px);
                background: url(/static/image/list_icon_init.png) no-repeat left bottom;
                background-size: auto pxTorem(28px);
                display: inline-block;
                margin-top:pxTorem(8px);
            }
        }
        .process {
            &:before {
                content: ' ';
                width: pxTorem(50px);
                height: pxTorem(28px);
                background: url(/static/image/list_icon_live.png) no-repeat left bottom;
                background-size: auto pxTorem(28px);
                display: inline-block;
                margin-top:pxTorem(8px);
            }
        }
        .playbacking {
            &:before {
                content: ' ';
                width: pxTorem(50px);
                height: pxTorem(50px);
                background: url(/static/image/list_icon_unplayback.png) no-repeat left bottom;
                background-size: auto pxTorem(28px);
                display: inline-block;
                margin-top:pxTorem(8px);
            }
        }
        .playback {
            &:before {
                content: ' ';
                width: pxTorem(50px);
                height: pxTorem(50px);
                background: url(/static/image/list_icon_playback.png) no-repeat left bottom;
                background-size: auto pxTorem(28px);
                display: inline-block;
                margin-top:pxTorem(8px);
            }
        }
        .target {
            //          display: none;
            padding-top: pxTorem(15px);
        }
        .time {
            color: #999;
            @include property-dpr(font-size, 14px);
        }
        .status {
            border: solid 1px $color-red;
            @include property-dpr(font-size, 10px);
            color: $color-red;
            height: pxTorem(30px);
            line-height: pxTorem(30px);
            width: pxTorem(80px);
            text-align: center;
        }
    }
}

.subject-detail-padding {
    padding: 0 pxTorem(40px);
}

.subject-bottom {
    border-top: solid 1px $border-color;
    padding: 0 pxTorem(40px);
    height: pxTorem(150px);
    background: $color-white;
    z-index: 1000;
    @extend %display-flex;
    align-items: center;
    .info {
        flex: 1;
        h3 {
            color: $color-red;
            font-weight: 700;
            span {
                @include property-dpr(font-size, 12px);
                margin-right: pxTorem(2px);
            }
        }
        h5 {
            color: #999;
        }
    }
    .btn {
        width: pxTorem(260px);
        background: $color-green;
        color: $color-white;
        @include property-dpr(font-size, 16px);
        line-height: pxTorem(100px);
        height: pxTorem(100px);
        @extend .tc;
        @include border-radius(5px, 5px, 5px, 5px);
    }
}

.apply-message {
    p {
        text-align: center;
        @extend %display-flex;
        span {
            width: calc(100%/3);
            &:first-child {
                text-align: left
            }
            &:last-child {
                text-align: right
            }
        }
    }
}

.payinfo {
    @include property-dpr(font-size, 16px);
    padding: pxTorem(20px);
}

.banner-swipe {
    height: pxTorem(300px);
    img {
        width: 100%;
        height: pxTorem(300px)
    }
}
//课程详情
.subject-top {
    width: 100%;  
    .cover {
        width: 100%;
        min-height: 120px;
        max-height: 160px;
        img {
            width: 100%;
            height: 100%;
            min-height: 120px;
            max-height: 160px;            
        }
    }
    .depart-info{
        margin: pxTorem(30px) pxTorem(50px);
        position: relative;
        @extend %box-sizing ;
        min-height: 50px;
        max-height: 80px;
        background: url(/static/image/depart-info.png) no-repeat center center;
        background-size:cover;
        border-radius: 8px;
        .logo{
            border-radius: 40px;
            position: absolute;
            top:5px;
            left: 15px;
        }
        h3{
            position: absolute;
            top:12px;
            left: 65px;
            width: pxTorem(400px);
            color: $color-white;
        }
        .open{
            position: absolute;
            width: pxTorem(30px);
            height: 100%;
            background: url(/static/image/white-right-srrow.png) no-repeat center center;
            background-size: pxTorem(30px) auto;
            position: absolute;
            right: pxTorem(30px);
        }        
    }
    .subject-des{
        margin: 0 pxTorem(50px);
        height:pxTorem(180px);
        position: relative;
        .title{
            width: 100%;
            height:pxTorem(50px);
            line-height: pxTorem(50px);
            font-weight: 700;
            @include property-dpr(font-size, 16px);
        }
        .time{
            .timer{
                color: $color-grey1;
                @include property-dpr(font-size,12px);
            }
        }
        .price{
            position: absolute;
            bottom:pxTorem(20px);
            left: 0;
            color: $color-green;
            font-weight: 700;
            @include property-dpr(font-size,16px);
        }
        .joninnum{
            position: absolute;
            bottom:pxTorem(20px);
            right: 0;
            color: $color-grey1;
            @include property-dpr(font-size,14px);
        }
    }
}
.gray-block{
    width: 100%;
    height: pxTorem(12px);
    background: $border-color;
    content:none;
}