@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/header',
'../layout/layout',
'../layout/footer';
@import '../components/mint';
.group-detail-wrapper {
    .title {
        margin: pxTorem(10px) pxTorem(40px) pxTorem(10px) pxTorem(40px);
        font-weight: 700;
    }
    .time {
        color: $color-green;
        margin: pxTorem(20px) pxTorem(40px) 0 pxTorem(40px);
    }
    p {
        margin: pxTorem(30px) pxTorem(40px);
        @include property-dpr(font-size, 16px);
    }
    .more{
        color: $color-green;
    }
}

.teacher {
    padding: 0 pxTorem(40px) pxTorem(20px) pxTorem(40px);
    @include property-dpr(font-size, 16px);
    .all {
        margin-top: pxTorem(30px);
    }
    ul {
        .item-wrapper-teacher {
            padding: pxTorem(30px) 0;
            background: $color-white;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
            .top-wrapper {
                @extend %display-box;
                .img-wrapper {
                    width: pxTorem(80px);
                    height: pxTorem(80px);
                    background: $color-white;
                    @extend .tc;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .right {
                    @extend %box-flex;
                    line-height: pxTorem(80px);
                    margin-left: pxTorem(20px);
                    .username {
                        max-width: 50%;
                        @include property-dpr(font-size, 16px);
                        display: inline-block;
                        float: left;
                    }
                    .post {
                        max-width: 40%;
                        margin-top: pxTorem(20px);
                        margin-left: pxTorem(10px);
                        height: pxTorem(30px);
                        line-height: pxTorem(30px);
                        color: $color-white;
                        background: $color-green;
                        @extend .tc;
                        @include property-dpr(font-size, 12px);
                        @include border-radius(3px, 3px, 3px, 3px);
                        padding: pxTorem(5px) pxTorem(12px);
                        display: inline-block;
                        float: left;
                    }
                }
            }
            p {
                margin-top: pxTorem(20px);
                word-wrap: break-word;
                @include property-dpr(font-size, 16px);
            }
        }
    }
}

.bottom {
    border-top: solid 1px $border-color;
    padding: 0 pxTorem(40px);
    height: pxTorem(150px);
    background: $color-white;
    z-index: 1000;
    @extend %display-flex;
    align-items: center;
    .info {
        flex: 1;
        h3 {
            color: $color-red;
            font-weight: 700;
            span {
                @include property-dpr(font-size,
                12px);
                margin-right: pxTorem(2px);
            }
        }
        h5 {
            color: #999;
        }
    }
    .btn {
        width: pxTorem(260px);
        background: $color-green;
        color: $color-white;
        @include property-dpr(font-size,
        16px);
        line-height: pxTorem(100px);
        height: pxTorem(100px);
        @extend .tc;
        @include border-radius(5px,
        5px,
        5px,
        5px);
    }
}
