@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/header',
'../layout/layout',
'../layout/footer';
@import '../components/mint';
.hello-welcome {
    margin: pxTorem(135px) pxTorem(40px) 0 pxTorem(40px);
    h1 {
        @include property-dpr(font-size, 28px);
        font-weight: 700;
        margin-bottom: pxTorem(5px);
    }
    p {
        margin-top: pxTorem(8px);
        color: $color-grey;
        @include property-dpr(font-size, 14px);
    }
}

.user-form-wrapper {
    margin: pxTorem(140px) pxTorem(40px) 0 pxTorem(40px);
    section {
        border-bottom: solid 1px lighten($color-black, 95%);
        ;
        margin-bottom: pxTorem(40px);
        position: relative;
        label {
            @extend .block;
            @include property-dpr(font-size, 16px);
            line-height: pxTorem(60px);
            margin-bottom: pxTorem(-5px);
        }
        .ui-input {
            @extend .block;
            width: 100%;
            padding: pxTorem(10px) 0;
            border: none;
            @include property-dpr(font-size, 14px);
            color: $color-grey;
            margin-top: pxTorem(10px);
        }
        .clear-input {
            position: absolute;
            right: pxTorem(10px);
            bottom: pxTorem(10px);
            background: $color-green;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            @extend .hide;
            text-align: center;
            color: $color-white;
            line-height: 15px;
            &:after {
                content: '×'
            }
        }
        .ui-input:valid+.clear-input {
            display: block;
        }
        .get-code {
            position: absolute;
            right: 0;
            bottom: pxTorem(10px);
            background: $color-green;
            color: $color-white;
            padding: pxTorem(15px) 0;
            width: pxTorem(130px);
            @include property-dpr(font-size, 14px);
            @include border-radius(pxTorem(6px), pxTorem(6px), pxTorem(6px), pxTorem(6px));
            border: none;
        }
    }
    p {
        margin-top: pxTorem(6px);
        @include property-dpr(font-size, 14px);
        a {
            color: $color-grey;
        }
    }
    .note{
         color: $color-grey;
         @include property-dpr(font-size, 14px);
         margin-top: pxTorem(20px);
    }
    .bottom-info {
        @include property-dpr(font-size, 18px);
        color: $color-grey;
        margin-top: pxTorem(60px);
        a {
            color: $color-green;
        }
        .wx {
            color: $color-grey;
            margin-left: pxTorem(20px)
        }
    }
    button.btn {
        background: $color-green;
        color: $color-white;
        @include property-dpr(font-size, 18px);
        margin-top: pxTorem(30px);
        width: 100%;
        height: pxTorem(110px);
        padding: pxTorem(20px) 0;
        @include border-radius(pxTorem(8px), pxTorem(8px), pxTorem(8px), pxTorem(8px));
        border: none;
        
        
    }
}

.register-wrapper{
    margin-top: pxTorem(40px);
}


.apply-agency {
    margin-top: pxTorem(70px);
    
}