@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/layout',
'../layout/footer';
@import '../components/mint';
.news-navs-wrapper {
    display: -webkit-box;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: pxTorem(100px);
    margin: 0 pxTorem(10px);
    ::-webkit-scrollbar{//scroll滚动条设置
        width: 0px; height: 0px;background-color: #fff;  
    }
    li {
        width: pxTorem(140px);
        line-height: pxTorem(100px);
        margin: 0 pxTorem(20px);
        @include property-dpr(font-size, 16px);
    }
    .active {
        color: $color-green;
    }
}

.top-news-swipe {
    height: pxTorem(300px);
    img {
        width: 100%;
        height: pxTorem(300px)
    }
}

.news-list-wrapper {
    margin: 0 pxTorem(40px);
    li {
        border-bottom: solid 1px $border-color;
        @extend %display-flex;
        justify-content: space-between;
        padding: pxTorem(20px) 0;
        align-items: center;
        &:last-child{
            border-bottom: none;
        }
        h3 {
            font-weight: 700;
        }
        p {
            margin-top: pxTorem(16px);
            color: $color-grey;
            span {
                margin: 0 pxTorem(20px);
            }
        }
    }
}

.news-detail-wrapper {
    padding: pxTorem(40px) pxTorem(40px) 0 pxTorem(40px);
    .title {
        font-weight: 700;
    }
    .time {
        color: $color-grey;
        margin-top: pxTorem(12px);
        margin-bottom: pxTorem(20px);
    }
//  img {
//      max-width: 100% !important;
//  }
//  table {
//      max-width: 100% !important;
//  }
}

.news-footer {
    border-top: solid 1px $border-color;
    @extend %display-flex;
    justify-content: space-between;
    align-items: center;
    .ui-input {
        background: #f5f5f5;
        flex: 1;
        border: none;
        height: pxTorem(70px);
        border-radius: pxTorem(50px);
        margin-left: pxTorem(30px);
        padding: 0 pxTorem(40px);
        @include property-dpr(font-size, 14px);
    }
    .icon {
        margin-right: pxTorem(15px);
        span {
            margin: 0 pxTorem(20px);
            position: relative;
            i {
                position: absolute;
                background: $color-red;
                padding: pxTorem(2px) pxTorem(8px);
                color: #fff;
                @include property-dpr(font-size, 8px);
                top: -15px;
                right: -5px;
                border-radius: pxTorem(20px);
            }
        }
        img {
            max-width: pxTorem(40px);
            max-height: pxTorem(40px);
        }
    }
    button {
        border: none;
        background: none;
        margin-left: pxTorem(30px);
        margin-right: pxTorem(30px);
        @include property-dpr(font-size, 16px);
        color: $color-green;
        font-weight: 400;
    }
}

.news-comment-wrapper {
    background: #F5F5F5;
    .title{
        padding:pxTorem(40px) pxTorem(40px) 0 pxTorem(40px);
        color:#999;
    }
    .item {
        padding: pxTorem(40px);
        box-sizing: border-box;
        &:last-child {
            padding-bottom: 0;
        }
        .top-wrapper {
            @extend %display-box;
            .img-wrapper {
                width: pxTorem(80px);
                height: pxTorem(80px);
                @extend .tc;
                display: table-cell;
                vertical-align: middle;
                @include border-radius(50px, 50px, 50px, 50px);
                img {
                    max-width: pxTorem(80px);
                    max-height: pxTorem(80px);
                    @include border-radius(50px, 50px, 50px, 50px);
                }
            }
            .right {
                @extend %box-flex;
                margin-left: pxTorem(20px);
            }
        }
        p {
            margin-top: pxTorem(30px);
            @include property-dpr(font-size, 16px);
            word-wrap: break-word;
        }
    }
}