@import '../helpers/variables',
'../helpers/mixin',
'../helpers/function';
@import '../base/base',
'../base/reset';
@import '../layout/header',
'../layout/layout',
'../layout/footer';
@import '../components/mint';
.course-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: pxTorem(90px);
    line-height: pxTorem(90px);
    z-index: 6;
     color: #fff;
    @extend %display-flex;
    @include property-dpr(font-size, 14px);
    justify-content:space-between;
    &:after{
          content: ' ';
         background: #515151;
         opacity: .8;
         position:absolute;left:0;right:0;bottom:0;top:0;z-index: -1;
    }
    .name {
       
        @include property-dpr(font-size, 16px);
        padding-left: pxTorem(20px);
        max-width: 40%;
    }
    .username {
        width: 48%;
        margin-left:pxTorem(10px);
    }
    button {
        border: none;
        background: none;
        color: #fff;
        padding-right: pxTorem(20px);
    }
}

.matter-wrapper {
    z-index: 3;
    width: 100%;
    background: #333;
    @extend %display-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    video {
        width: 100%;
        height: 100%
    }
    .audio-wrapper {
        width: 100%;
        height: 100%;
        @extend %display-flex;
        align-items: center;
        justify-content: center;
        .pause {
            display: block;
            background: url(/static/image/ic_music_play.png) no-repeat center center;
            background-size: pxTorem(120px) auto;
            width: pxTorem(120px);
            height: pxTorem(120px);
        }
        .play {
            display: block;
            background: url(/static/image/icon-video-play.gif) no-repeat center center;
            background-size: pxTorem(120px) auto;
            width: pxTorem(120px);
            height: pxTorem(120px);
        }
    }
    .video-wrapper {
        width: 100%;
        height: 100%;
        @extend %display-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        p {
            @include property-dpr(font-size, 16px);
            color: $color-white;
        }
        .pause {
            background: url(/static/image/ic_music_play.png) no-repeat center center;
            background-size: pxTorem(120px) auto;
            width: 100%;
            height: 80%;
            position: absolute;
            z-index: 9999;
        }
        .play {
            display: block;
            background: url(/static/image/ic_music_pause.png) no-repeat center center;
            background-size: pxTorem(120px) auto;
            width: pxTorem(120px);
            height: pxTorem(120px);
        }
    }
}

.btn-screen {
    position: absolute;
    right: pxTorem(10px);
    bottom: pxTorem(10px);
    background: url(/static/image/ic_fill_screen.png) no-repeat center center;
    background-size: pxTorem(85px) auto;
    width: pxTorem(85px);
    height: pxTorem(85px);
}

.quit {
    background: url(/static/image/ic_quit_fill_screen.png) no-repeat center center;
    background-size: pxTorem(85px) auto;
}

.live-video-wrapper {
    width: 100%;
    background: #000;
    color: $color-white;
    @extend .tc;
    position: relative;
}

.playback-video-wrapper {
    width: 100%;
    background: #000;
    color: $color-white;
    @extend .tc;
    position: relative;
    @extend %display-flex;
    justify-content: center;
    align-items: center;
}

.live-info-wrapper {
    width: 100%;
    background: #000;
    color: $color-white;
    @extend %display-flex;
    justify-content: center;
    align-items: center;
    @extend .tc;
    position: relative;
    p {
        @include property-dpr(font-size, 16px);
    }
}
video{
    object-fit: fill;
}

.live-comment-wrapper {
    padding: 0;
    width: 100%;
    position: relative;
    .btn-msg-type {
        background: #039ac5;
        width: pxTorem(100px);
        height: pxTorem(100px);
        border-radius: 50%;
        @include property-dpr(font-size, 16px);
        // box-shadow:0 0 3px #039ac5;
        color: $color-white;
        line-height: pxTorem(100px);
        text-align: center;
        position: fixed;
        right: pxTorem(20px);
        bottom: pxTorem(140px);
    }
    .list {
        height:100%;
        overflow: scroll;
        li {
            margin: pxTorem(8px) pxTorem(100px) pxTorem(8px) pxTorem(40px);
            @include property-dpr(font-size, 14px);
            line-height: 1.6;
        }
        .msg {
            //margin-left: pxTorem(60px);
        }
        .ques {
            &:before {
                content: '提问';
                padding: pxTorem(2px) pxTorem(10px);
                display: inline-block;
                background: #039ac5;
                text-align: center;
                @include property-dpr(font-size, 10px);
                color: $color-white;
                @include border-radius(3px, 3px, 3px, 3px);
                margin-right: pxTorem(5px);
            }
        }
        .bg {
            background: #7db8b6;
            color: $color-white;
            padding: 0 pxTorem(10px);
        }
        .notice {
            //margin-left: pxTorem(60px);
            color: $color-red;
        }
    }
}

.live-submit-wrapper {
    background: #fff;
    @extend %display-flex;
    box-shadow: 0px 0px 1px #999;
    z-index: 33333;
    align-items: center;
    padding: 0 pxTorem(20px);
    height: pxTorem(110px);
    justify-content: space-between;
    input {
        flex: 1;
        height: pxTorem(90px);
        display: block;
        padding: pxTorem(25px);
        @include property-dpr(font-size, 16px);
        border: solid 1px $color-white;
    }
    .send {
        width: pxTorem(50px);
        height: pxTorem(110px);
        border: none;
        background: url(/static/image/send.png) no-repeat center center;
        background-size: pxTorem(50px) auto;
    }
}

.video-js .vjs-big-play-button {
    /*
      播放按钮换成圆形
     */
//  height: 2em;
//  width: 2em;
//  line-height: 2em;
//  border-radius: 1em;
    width:pxTorem(120px);
    height:pxTorem(120px);
    border:none!important;
    background: url(/static/image/ic_music_play.png) no-repeat center center;
    background-size: pxTorem(120px) auto;
}

.vjs-custom-skin>.video-js{
    height:100%;
}

.vjs-custom-skin>.video-js .vjs-big-play-button {
    margin-left: -1em;
}

.video-js .vjs-control-text {
    width: 0;
    //  height: 0;
    //  border-top: 15px solid transparent;
    //  border-bottom: 15px solid transparent;
    //  border-left: 15px solid #fff;
    //  clip:auto;
    //  top: 28%;
    //  left: 45%;
}

.video-player {
    height: 100%;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3 {
    height: 100%!important;
}

.vjs-icon-play:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before{
    content:''!important;
}

.playback-wrapper {
    .controls {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: pxTorem(100px);
        padding-right: pxTorem(30px);
        @extend %display-flex;
        align-items: center;
        justify-content: space-between;
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #000;
            opacity: .5;
            z-index: -1;
        }
        #box {
            flex: 1;
            height: 5px;
            background: #ccc;
            position: relative;
            border-radius: 3px;
        }
        #strip {
            width: 0;
            height: 5px;
            background: red;
        }
        #circular {
            width: 20px;
            height: 20px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 50%;
            margin-top: -10px;
        }
        .time {
            //          position: absolute;
            //          right: 0;
            //          top: 0.15rem;
            color: #fff;
            margin-right: pxTorem(10px);
            @include property-dpr(font-size, 16px);
        }
        .btn-play {
            margin: 0 pxTorem(10px);
            width: pxTorem(70px);
            height: pxTorem(66px);
            text-indent: -9999px;
            background: url(/static/image/ic_music_play.png) no-repeat center center;
            background-size: pxTorem(50px) auto;
        }
        .btn-pause {
            background: url(/static/image/ic_music_pause.png) no-repeat center center;
            background-size: pxTorem(50px) auto;
        }
    }
}