html{-ms-overflow-style:none;
    overflow:-moz-scrollbars-none;}
body{background:$color-white;font-size: $font-size;color: $font-color;height: 100%;position:relative;}
body,button, input, select, textarea {font-family:$font-family;*font-family:"\5FAE\8F6F\96C5\9ED1";}
html,body{height:100%;overflow:hidden;width:100%;flex-direction: column;}
h1 {@include property-dpr(font-size, 22px);}
h2 {@include property-dpr(font-size, 20px);}
h3 {@include property-dpr(font-size, 18px);}
h4 {@include property-dpr(font-size, 16px);}
h5 {@include property-dpr(font-size, 14px);}
h6 {@include property-dpr(font-size, 12px);}

hr {border: none;height: 1px;background: lighten($color-62,50%);}


.cf:before, .cf:after,.web:before, .web:after,.web_:before, .web_:after {content:"";display:table;}
.cf:after,.web:after,.web_:after {clear:both;}
.cf {zoom:1;}

.block {display: block;}
.hide {display:none}
/* 清除浮动 */
.clearfix {
    *zoom:1;
    &:after {
        display:block;
        content:"\200B";
        clear:both;
        height:0;
    }
}
pre {
white-space: pre-wrap;
word-wrap: break-word;
font-family:$font-family;*font-family:"\5FAE\8F6F\96C5\9ED1";
}
.magl{margin-left:10px;}
