.footer {
    width: 100%;
    min-height: pxTorem(110px);
    overflow: hidden;
    font-size: 0;
    text-align: center;
    z-index:1000;
    position: fixed;
    left: 0;
    bottom: 0;
    background:#fff;
     @extend %display-flex;
    div:first-child{
        @extend %display-flex;
        
    }
    .btn {
        display: block;
        flex: 1;
        color: $color-white;
        background:$color-green;
        @include property-dpr(font-size, 16px);
        line-height: pxTorem(110px);
    }
    
    div:nth-of-type(2){
        width: 100%;
        color: #027d5e;
        line-height: pxTorem(110px);
        font-size: pxTorem(30px);
        text-align: center;
        border-top: 1px solid #d5d5d5;
    }
    .un-btn {
        display: block;
        flex: 1;
        color: $color-white;
        background:$color-9d;
        @include property-dpr(font-size, 16px);
        line-height: pxTorem(110px);
        border-top:solid 1px $color-9d;
    }
}
