#app {
    height: 100%;
    overflow: hidden
}
 


.scroll-wrapper {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow:auto;
    -webkit-overflow-scrolling:touch; 
    ::-webkit-scrollbar{//scroll滚动条设置
        width: 0px; height: 0px;background-color: #fff;  
    }
}

.wrapper,.depart-wrapper,.consult-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.scroll-y {
    overflow-y: scroll;
}
.pading-bottom{
    padding-bottom:pxTorem(120px);
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.edge-be {
    margin: 0 pxTorem(20px)
}

.edge-up {
    margin: pxTorem(20px) 0
}

.edge {
    margin: pxTorem(20px)
}

.ellipsis_ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.no-content {
    @extend .tc;
    line-height: pxTorem(100px);
    @include property-dpr(font-size, 16px);
}
.no-content {
    @extend .tc;
    line-height: pxTorem(100px);
    @include property-dpr(font-size, 16px);
}

.loading-more {
    width: 28px;
    height: 28px;
    margin: 0 auto;
}