$minWidth:750px;
$color-green: #01cab8;
$color-white: #fff;
$color-red: #f00;
$color-62: #626262;
$color-f2:#f2f2f2;
$color-9d:#9d9d9d;
$color-30:#303030;
$color-f0:#f0f0f0;
$color-e6:#e6e6e6;
$color-b3:#b3b3b3;
$color-grey: #999999;
$color-black: #000;
$color-6c: #cccccc;
$color-de: #dedede;
$color-3c: #ccc;
$color-e2: #e2e2e2;
$color-333: #333333;

$color-grey1: #bfbfbf;
$color-grey2: #586482;
$color-red1: #ff70bd;



$font-color:#333333;
$main-color:$color-green;
$main-bg-color:$color-f2;
$border-color:$color-f2;
$link-color:#626262;
$hover-color:#626262;
$font-size:12px;
$font-family: "微软雅黑", "\u5b8b\u4f53", Arial, Verdana, Helvetica, sans-serif;


/* Button Component */
$button-default-color: $color-white;
$button-default-background-color: $color-green;


/* Tabbar Component */
$tabbar-background-color: $color-green;
$tabbar-tab-item-selected-background-color: $color-white;
$tabbar-tab-item-selected-color: $color-white;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

