.list-img {
    
    display: flex;
    flex-wrap: wrap;
    $imgheight: pxTorem(100px);
    li {
        height: $imgheight;
        font-size: 0;
        width: pxTorem(100px);
        margin-bottom: calc(6px*3 /3);
        margin-right: calc(12px*3 /3);
        @extend .tc;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#d9d9d9;
        @include border-radius(8px, 8px, 8px, 8px);
        
        //      .img-wrapper{
        //          width:100%;
        //          height:100%;
        //          display: table-cell;
        //           vertical-align: middle;
        //      }
        img {
            @include border-radius(8px, 8px, 8px, 8px);
            width: 100%;
            //height: 100%;
          object-fit: fill;
          object-fit: cover;
            //          display: inline-block;
            //          position: absolute;
            //          margin: auto;
            //          top: -9999px;
            //          right: -9999px;
            //          bottom: -9999px;
            //          left: -9999px;
        }
        /*  &:nth-child(3n+3) {
            margin-right: 0;
        } */
    }
}

.loading-wrapper {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
}

.preview-wrapper {
    z-index: 10000001;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .tc;
    overflow: hidden;
    vertical-align: middle;
    img {
        max-height: 100%;
        width: 100%;
        display: inline-block;
        position: absolute;
        margin: auto;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
    }
    .photoBox {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        display: table-cell;
        @extend .tc;
        vertical-align: middle;
    }
    .icon-cancel {
        position: absolute;
        right: 0;
        top: 0;
        width: .6rem;
        height: .6rem;
        z-index: 2;
    }
    .btn {
        max-height: 1rem;
        max-width: 1rem;
        display: inline-block;
        position: absolute;
        margin: auto;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
    }
    #video {
        max-height: 100%;
        width: 100%;
        display: inline-block;
        position: absolute;
        margin: auto;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
    }
}